
.hold-spinner {
    width: 100%;
    height: auto;
    /* background-color: red; */
    text-align: center;
  }
  
  .spinner {
    width: 100px;
  }
  
  .loading-text {
    font-size: 22px;
    color: white;
  }

  .no-conn{
    color: red;
    text-align: center;
  }